GateServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/GateServices/services/Tokenizer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/GateServices/services/Tokenizer" xmlns:intf="http://localhost:8080/GateServices/services/Tokenizer" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="uri:org.lappsgrid.api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="uri:org.lappsgrid.api/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://localhost:8080/GateServices/services/Tokenizer"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Data">
    <sequence>
     <element name="discriminator" type="xsd:long"/>
     <element name="payload" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://localhost:8080/GateServices/services/Tokenizer" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="uri:org.lappsgrid.api/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_long">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:long[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeResponse">

      <wsdl:part name="executeReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="executeRequest">

      <wsdl:part name="input" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="requiresRequest">

   </wsdl:message>

   <wsdl:message name="configureRequest">

      <wsdl:part name="config" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="producesRequest">

   </wsdl:message>

   <wsdl:message name="configureResponse">

      <wsdl:part name="configureReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="producesResponse">

      <wsdl:part name="producesReturn" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:message name="requiresResponse">

      <wsdl:part name="requiresReturn" type="impl:ArrayOf_xsd_long"/>

   </wsdl:message>

   <wsdl:portType name="Tokenizer">

      <wsdl:operation name="execute" parameterOrder="input">

         <wsdl:input message="impl:executeRequest" name="executeRequest"/>

         <wsdl:output message="impl:executeResponse" name="executeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="configure" parameterOrder="config">

         <wsdl:input message="impl:configureRequest" name="configureRequest"/>

         <wsdl:output message="impl:configureResponse" name="configureResponse"/>

      </wsdl:operation>

      <wsdl:operation name="requires">

         <wsdl:input message="impl:requiresRequest" name="requiresRequest"/>

         <wsdl:output message="impl:requiresResponse" name="requiresResponse"/>

      </wsdl:operation>

      <wsdl:operation name="produces">

         <wsdl:input message="impl:producesRequest" name="producesRequest"/>

         <wsdl:output message="impl:producesResponse" name="producesResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TokenizerSoapBinding" type="impl:Tokenizer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/GateServices/services/Tokenizer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="configure">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="configureRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="configureResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/GateServices/services/Tokenizer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="requires">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="requiresRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requiresResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/GateServices/services/Tokenizer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="produces">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="producesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="producesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/GateServices/services/Tokenizer" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TokenizerService">

      <wsdl:port binding="impl:TokenizerSoapBinding" name="Tokenizer">

         <wsdlsoap:address location="http://localhost:8080/GateServices/services/Tokenizer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
